body, .parallax {
    /* The image used */
    
    background-image: url("../images/mistytrees.jpg");
    
    /* Set a specific height */
    min-height: 300px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(1, 103, 99);
   
}

h2 {
    font-weight: lighter;
    font-family: cursive;
    color: seagreen;
}

h3 {
    font-weight: lighter;
    font-size: 35px;
    font-family: cursive;
    color: seagreen;
}

.nav-link {
    font-size: 20px;
    
}

.linkedIn{
    background-color: black;
    color: #0077b5;
    font-size: 50px;
    border-radius: 6px;
}

.github{
    background-color: black;
    color:#fff;
    font-size: 50px;
    border-radius: 9px;
}

.instagram{
    background-image: linear-gradient(to bottom right, #f58529,#feda77,#dd2a7b, #8134af, #515bd4);
    color: cornsilk;
    font-size: 50px;
    border-radius: 9px;
}
