/*background image*/
body, .parallax {
    /* The image used */
    
    background-image: url("../images/loons.jpg");
    
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(1, 103, 99);
   
}
.main{
    scroll-behavior: smooth;
}

.fixed-top {
    opacity: 90%;
}


.card {
    width: 721px;
    background-color: rgb(1, 103, 99);

}

.aboutme { 
    display: flex;
    justify-content: flex-end;
}
p {
    font-size: 20px;
    color:white;
}

.container {
    background-color: black;
    border-radius: 40px;
}

h1 {
    color: whitesmoke;
    padding: 10px;
}

h3 {
    font-weight: lighter;
    font-size: 65px;
    font-family: cursive;
    color: seagreen;
}


h5  {
    color: wheat;
    font-weight: bold;
}
footer{
    font-size: 20px;
}
.nav-link {
    font-size: 25px;
}

.profilepic {
    width: 350px;
}

.linkedIn{
    color: #0077b5;
    font-size: 50px;
}

.github{
    color:#fff;
    font-size: 50px;
}

.instagram{
    background-image: linear-gradient(to bottom right, #f58529,#feda77,#dd2a7b, #8134af, #515bd4);
    color: cornsilk;
    border-radius: 9px;
    font-size: 50px;
}

