/*background image*/
body, .parallax {
    /* The image used */
    
    background-image: url("./images/background-forest.jpg");
    
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(1, 103, 99);
   
}

.fixed-top {
    opacity: 90%;
}
