body, .parallax {
    /* The image used */
    
    background-image: url("./images/hazy-forest.jpg");
    
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(1, 103, 99);
   
}

h3 {
    font-weight: lighter;
    font-size: 65px;
    font-family: cursive;
    color: seagreen;
}

.nav-link {
    font-size: 25px;
}
