/*background image*/
body, .parallax {
    /* The image used */
    
    background-image: url("./images/loonSwoon.jpg");
    
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(1, 103, 99);
   
}

.fixed-top {
    opacity: 90%;
}


.card {
    width: 721px;
    background-color: rgb(1, 103, 99);

}

.aboutme { 
    display: flex;
    justify-content: flex-end;
}

h3 {
    font-weight: lighter;
    font-size: 65px;
    font-family: cursive;
    color: seagreen;
}

.nav-link {
    font-size: 25px;
}
h5  {
    color: wheat;
    font-weight: bold;
}

p {
    color: white;
}


/*
.display-4 {
    color:whitesmoke;
    font-family: 'Gochi Hand', cursive;
}
p {
    color: white;
    font-size: 35px;
}*/